body {
  padding: 50px;
  /*font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}

ul {
    font-size: 1.2em;
}

li {
    font-size: 1.2em;
}

input {
    width: 400px;
    margin: 10px;
}

.device {
    padding: 10px;
}